@font-face {
  font-family: Shabnam;
  src: local("tahoma"), local("Shabnam FD,Thin"), local("tahoma"),
    url("fonts/shabnam/Shabnam-Thin-FD.eot");
  src: url("fonts/shabnam/Shabnam-Thin-FD.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/shabnam/Shabnam-Thin-FD.woff2") format("woff2"),
    url("fonts/shabnam/Shabnam-Thin-FD.woff") format("woff"),
    url("fonts/shabnam/Shabnam-Thin-FD.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: Shabnam;
  src: local("tahoma"), local("Shabnam Medium FD"), local("tahoma"),
    url("fonts/shabnam/Shabnam-Light-FD.eot");
  src: url("fonts/shabnam/Shabnam-Light-FD.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/shabnam/Shabnam-Light-FD.woff2") format("woff2"),
    url("fonts/shabnam/Shabnam-Light-FD.woff") format("woff"),
    url("fonts/shabnam/Shabnam-Light-FD.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Shabnam;
  src: local("tahoma"), local("Shabnam FD"), local("tahoma"),
    url("fonts/shabnam/Shabnam-FD.eot");
  src: url("fonts/shabnam/Shabnam-FD.eot?#iefix") format("embedded-opentype"),
    url("fonts/shabnam/Shabnam-FD.woff2") format("woff2"),
    url("fonts/shabnam/Shabnam-FD.woff") format("woff"),
    url("fonts/shabnam/Shabnam-FD.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Shabnam;
  src: local("tahoma"), local("Shabnam Medium FD"), local("tahoma"),
    url("fonts/shabnam/Shabnam-Medium-FD.eot");
  src: url("fonts/shabnam/Shabnam-Medium-FD.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/shabnam/Shabnam-Medium-FD.woff2") format("woff2"),
    url("fonts/shabnam/Shabnam-Medium-FD.woff") format("woff"),
    url("fonts/shabnam/Shabnam-Medium-FD.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Shabnam;
  src: local("tahoma"), local("Shabnam Medium FD"), local("tahoma"),
    url("fonts/shabnam/Shabnam-Bold-FD.eot");
  src: url("fonts/shabnam/Shabnam-Bold-FD.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/shabnam/Shabnam-Bold-FD.woff2") format("woff2"),
    url("fonts/shabnam/Shabnam-Bold-FD.woff") format("woff"),
    url("fonts/shabnam/Shabnam-Bold-FD.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
b,
button,
a,
th,
td,
tr,
strong,
span,
input,
label {
  font-family: Shabnam;
}
